/*
 Code of the 'Actually Read it Later' chrome extension (see manifest.json for further information
 Maintainer: Arsen Losenko
 Email: arsenlosenko@gmail.com
*/

body {
    background-color: #CCEFF1;
}

h3{
    margin-bottom: 20px;
}

.form-control {
    width: 200px !important;
    display: inline-block !important;
}

.list-group-item {
    padding: 5px 10px 5px 10px;
    background-color: #CCEFF1;
    border: none;
}

.col-md-12{
    width: 500px;
}

.btn-danger {
    border-radius: 0px 4px 4px 0px;
}

.removeItem{
    font-size: 20px;
}

.removeItem:hover{
    cursor: pointer;

}

.panel{
    margin-bottom: 10px !important;
}
